# Terraform folder
.terraform/

# Terraform state files
terraform.tfstate
terraform.tfstate.*
*.tfstate
*.tfstate.backup

# Terraform lock file (optional)
.terraform.lock.hcl

# Variable files (may contain secrets)
*.tfvars
*.tfvars.json

# Crash log files
crash.log

# Sensitive key files
*.pem
*.key
devops-key
devops-key.pub
.gitignore

# OS files
.DS_Store
Thumbs.db
